@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";


:root {
  --primary: #00BB4C;
  --primary-color-dark: #057a34;
  --foreground: #171717;
}

/* 🔴 Tema vermelho */
[data-theme="red"] {
  --primary: #dc2626;
  --primary-color-dark: #991b1b;
}

/* 🔵 Tema azul */
[data-theme="blue"] {
  --primary: #2563eb;
  --primary-color-dark: #1e3a8a;
}

/* 🟤 Tema marrom */
[data-theme="brown"] {
  --primary: #92400e;
  --primary-color-dark: #78350f;
}

/* 🟣 Tema roxo */
[data-theme="purple"] {
  --primary: #7c3aed;
  --primary-color-dark: #5b21b6;
}

/* 🟢 Verde alternativo */
[data-theme="emerald"] {
  --primary: #10b981;
  --primary-color-dark: #065f46;
}

@theme inline {
  --color-primary: var(--primary);
  --color-primary-dark: var(--primary-color-dark);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  color: #fff;
  background: var(--primary);
}
